<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon"></div>
		<div class="title" id="group-title"></div>
	</div>
</div>

<div class="name-row">
	<div class="palm-group unlabeled group-name">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">    	
							<div class="label">Name</div>
							<div id="group-name-field" x-mojo-element="TextField" ></div>
						</div>
					</div>
				</div
			</div>
		</div>
	</div>
	<div class="photo-wrapper">
		<div class="photo" id="group-photo">
			<div class="photo-frame"></div>
		</div>
	</div>
</div>

<div class="palm-group group-members">
	<div class="palm-group-title" id="group-members-title"></div>
	<div class="palm-list" x-mojo-element="List" id="group-members-list"></div>
</div>