.QuickContact {
	position:absolute;
	-webkit-border-radius:10%;
	overflow:hidden;
}

.QuickContact.dragging
{
	z-index:10000;
	opacity:.5;
}

.QuickContact .wrapper
{
	width:100%;
	height:100%;
	-webkit-border-radius:10%
}

.QuickContact .icon
{
	display:none;
	height:24%;
	margin-top:1%;
	-webkit-background-size:auto 100%;
	background-position:5% 0%;
	background-repeat:no-repeat;
	padding-left:30%;
	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.QuickContact.selected .icon
{
	display:block;
}

.QuickContact .icon.inactive
{
	display:none;
}

.QuickContact .contactName
{
	color:#ffffff;
	clear:both;
	width:94%;
	font-size:10pt;
	text-align:center;
	background-color:rgba(0,0,0,.3);
	margin-left:3%;
	position:absolute;
	-webkit-border-radius: 4px;
}

.contact-name-top .QuickContact .contactName {
	top:4%;
}

.contact-name-bottom .QuickContact .contactName {
	bottom:4%;
}

.contact-name-none .QuickContact .contactName{
	display:none;
}

.QuickContact.selected .contactName {
	display:none;
}