<div class="header">
	<img id="edit_contact_photo"/>
	<span id="edit_contact_name"></span>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="phoneWrapper">
						<div class="label" id="phoneLabel"></div>
						<div class="contact-details" id="phoneDetails"></div>
					</div>
					<div x-mojo-element="Drawer" id="phoneDrawer" class="edit-contact-drawer"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="smsWrapper" >
						<div class="label" id="smsLabel"></div>
						<div class="contact-details" id="smsDetails"></div>
					</div>
					<div x-mojo-element="Drawer" id="smsDrawer" class="edit-contact-drawer"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="imWrapper">
						<div class="label" id="imLabel"></div>
						<div class="contact-details" id="imDetails"></div>
					</div>
					<div x-mojo-element="Drawer" id="imDrawer" class="edit-contact-drawer"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="emailWrapper">
						<div class="label" id="emailLabel"></div>
						<div class="contact-details" id="emailDetails"></div>
					</div>
					<div x-mojo-element="Drawer" id="emailDrawer" class="edit-contact-drawer"></div>
				</div>
			</div>
		</div>
</div>

<div id="saveButton" x-mojo-element="Button" class="left actionButton"></div>
<div id="cancelButton" x-mojo-element="Button" class="left actionButton"></div>
<div id="deleteButton" x-mojo-element="Button" class="right actionButton"></div>
