<style id='theme-style'>
body.palm-default {
	background-image: url("themes/#{theme}/#{body.bgimage}");
	background-repeat: no-repeat;
	background-color:#{body.bgcolor};
}

.palm-row, .palm-row.first, .palm-row.last, .palm-row.single,
.edit-contact-scene .palm-popup-content .palm-divider,
.edit-contact-scene .dialog,
.content-wrapper {
	background-color:#{list.bgcolor};
}

.palm-menu.command-menu.palm-default > .palm-menu-fade {
	background: url("themes/#{theme}/#{commandmenu.bgImage}") repeat-x 0% 100%;	
}

</style>