<style id='theme-style'>
body.palm-default {
	background-image: url("themes/#{theme}/#{body.bgimage}");
	background-repeat: no-repeat;
	background-color:#{body.bgcolor};
}

.help-scene .palm-group .palm-row,
.palm-page-header-wrapper,
.prefs-scene .palm-group .palm-row,
.group-scene .palm-group .palm-row,
.edit-contact-scene .contact-header .palm-row,
.edit-contact-scene .contact-point-config .palm-row,
.edit-contact-scene .dialog,
.content-wrapper {
	background-color:#{list.bgcolor};
}

.palm-menu.command-menu.palm-default > .palm-menu-fade {
	background: url("themes/#{theme}/#{commandmenu.bgImage}") repeat-x 0% 100%;	
}

</style>