<div class="palm-row">
	<div class="palm-row-wrapper edit-contact-row">
		<div class="icon-group">
			<div class="icon" id="edit-contact-icon-#{index}" style="background-image:url(images/#{icon}.png);">
				<div class="selector"></div>
			</div>
			<div class="label" id="edit-contact-label-wrapper-#{index}">
				<span id="edit-contact-label-#{index}">#{-label}</span>
				<div class="selector"></div>
			</div>
		</div>
		<div class="contact-details" id="edit-contact-details-wrapper-#{index}">
			<span id="edit-contact-details-#{index}">#{text}</span>
			<div class="selector #{showSelector}"></div>
		</div>
	</div>
</div>