<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="icon"></div>
		<div class="title" id="edit-contact-title"></div>
	</div>
</div>

<div class="contact-header">
	<div class="palm-group unlabeled group-name">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper truncating-text" id="edit-contact-name"></div>
			</div>
		</div>
	</div>
	<div class="photo-wrapper">
		<div class="photo" id="edit-contact-photo">
			<div class="photo-frame"></div>
		</div>
	</div>
</div>

<div class="palm-group contact-point-config" style="clear:both">
	<div class="palm-group-title">Tap to change</div>
	<div class="palm-list" id="contactPointList" x-mojo-element="List"></div>
</div>

<div class="palm-body-text">Has this contact's photo or name changed?  Try <span class="link" id="updateContactLink">updating</span> it!</div>

<div class="palm-scrim" id="updateContactScrim" style="display:none;">
	<div x-mojo-element="Spinner" id="updateContactSpinner"></div>
</div>

<div class="palm-scrim" id="dialog-overlay" style="display:none"></div>