<div id="upgrade-scroller" x-mojo-element="Scroller">
	<div class="palm-body-text" style="text-align:left">
		<h4>Upgrade to InContact Plus</h4>
		<div>Thanks for your interest in upgrading InContact!  InContact Plus adds some great features to make getting in touch with friends and family even easier including:</div>
		<ul style="margin-left:-16px;">
			<li>Unlimited pages,</li>
			<li>Default actions for quick contact,</li>
			<li>Email/SMS an entire page,</li>
			<li>Email/SMS groups,</li>
			<li>Customizable launcher menu, </li>
			<li>Custom themes,</li>
			<li>and more to come!</li>
		</ul>
	</div>
	<div id="upgrade-button" x-mojo-element="Button"></div>
	<div id="cancel-upgrade-button" x-mojo-element="Button"></div>
</div>