<div id="prefs-scene">
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="" id="generalPreferencesTitle"></div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div id="fieldAllowRotate" x-mojo-element="ToggleButton"></div>
						<div id="labelAllowRotate" class="label left"></div>
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldIcon" x-mojo-element="ListSelector" class="list"></div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div id="fieldTheme" x-mojo-element="ListSelector" class="list"></div>
					</div>
				</div>
				<!-- div class="palm-row last">
					<div class="palm-row-wrapper">
						<div id="fieldInitialView" x-mojo-element="ListSelector" class="list"></div>
					</div>
				</div -->
			</div>
	</div>
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="" id="contactPreferencesTitle"></div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div id="fieldAutoDial" x-mojo-element="ToggleButton"></div>
						<div id="labelAutoDial" class="label left"></div>
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldCloseAction" x-mojo-element="ListSelector" class="list"></div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div id="fieldNamePosition" x-mojo-element="ListSelector" class="list"></div>
					</div>
				</div>
			</div>
	</div>
</div>