<div id="prefs-scene">
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="" id="generalPreferencesTitle"></div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div id="fieldAutoDial" x-mojo-element="ToggleButton"></div>
						<div id="labelAutoDial" class="label left"></div>
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldAllowRotate" x-mojo-element="ToggleButton"></div>
						<div id="labelAllowRotate" class="label left"></div>
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldIcon" x-mojo-element="ListSelector" class="list"></div>
						<div id="labelIcon" class="label left"></div>
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldTheme" x-mojo-element="ListSelector" class="list"></div>
						<div id="labelTheme" class="label left"></div>
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldNamePosition" x-mojo-element="ListSelector" class="list"></div>
						<div id="labelNamePosition" class="label left"></div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div id="fieldInitialView" x-mojo-element="ListSelector" class="list"></div>
						<div id="labelInitialView" class="label left"></div>
					</div>
				</div>
			</div>
	</div>
	<!--div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="" id="contactPreferencesTitle"></div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div id="fieldNamePosition" x-mojo-element="ListSelector" style="float:right;"></div>
						<div id="labelNamePosition" class="label left"></div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div id="fieldContactSize" x-mojo-element="ListSelector" style="float:right;"></div>
						<div id="labelContactSize" class="label left"></div>
					</div>
				</div>
			</div>
	</div-->
</div>