<div id="prefs-scene">
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="">Options</div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
						<div id="fieldAutoDial" x-mojo-element="ToggleButton"></div>
						<div id="labelAutoDial" class="label left">Auto-Dial Phone</div>
						<!--div x-mojo-loc="" class="palm-info-text" style="margin:5px;">Auto-Dial will automatically dial number when phone is tapped</div-->
					</div>
				</div>
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldAllowRotate" x-mojo-element="ToggleButton"></div>
						<div id="labelAllowRotate" class="label left">Allow Display Rotation</div>
					</div>
				</div>
				<!--div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldAsyncPhoto" x-mojo-element="ToggleButton"></div>
						<div id="labelAsyncPhoto" class="label left">Delay High-Res Photos</div>
					</div>
				</div-->
				<div class="palm-row">
					<div class="palm-row-wrapper">
						<div id="fieldTheme" x-mojo-element="ListSelector" style="float:right;"></div>
						<div id="labelTheme" class="label left">Theme</div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
						<div id="fieldInitialView" x-mojo-element="ListSelector" style="float:right;"></div>
						<div id="labelInitialView" class="label left">Start Up View</div>
					</div>
				</div>
			</div>
	</div>
</div>