/** Default Theme CSS **/

body.palm-default {
	background-image: url("themes/default/bg.png");
	background-repeat: no-repeat;
	background-color:rgb(237,240,255);
}

.palm-row, .palm-row.first, .palm-row.last
{
	background-color:rgb(237,240,255);
}

/** General **/

.palm-row.first
{
	-webkit-border-radius: 15px 15px 0px 0px;
}

.palm-row.last
{
	-webkit-border-radius: 0px 0px 15px 15px ;
}

/** Main Scene **/

.dragging
{
	opacity:.5;
	z-index:10000;
}

.ContactScroller
{
	float:left;
	-webkit-border-radius:20px;
	background-color:rgba(255,255,255,.3);
	margin:3px;
}

.ContactScroller .scroll-wrapper
{
	height:100%;
	width:100%;
}

.scroller-padding.bottom
{
	position:absolute;
	left:0px;
	top:0px;
	height:50px;
}

.main-scene .palm-header .button {
	position:absolute;
	border:1px solid rgba(10,10,10,.8);
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-border-radius:40px;
	color:#ffffff;
	font-size:8pt;
	top:10px;
	width:30px;
	height:30px;
}

.main-scene .palm-header .button.selected {
	background-color:rgba(255,255,255,.3);
}

.main-scene .palm-header .button.right {
	right:-15px;
}

.main-scene .palm-header .button.left {
	left:-15px;
}

.contact-icon {
	background:url(../images/contact-icon.png);
	-webkit-background-size:80% 80%;
}

.card-icon {
	background:url(../images/card-icon.png);
	-webkit-background-size:60% 60%;
}

/** Palm App Icons **/

.phone-icon
{
	background:url(../images/icons/phone.png);
	-webkit-background-size:100% 100%;
}
.email-icon
{
	background:url(../images/icons/email.png);
	-webkit-background-size:100% 100%;
}
.messaging-icon
{
	background:url(../images/icons/messaging.png);
	-webkit-background-size:100% 100%;
}
.contacts-icon
{
	background:url(../images/icons/contacts.png);
	-webkit-background-size:100% 100%;
}

/** Help Scene **/

.help-scene .content-wrapper
{
	background-color:rgba(255,255,255,.85);
	-webkit-border-radius:10px;
	margin:5%;
	width:85%;
	padding:10px;
	font-size:10pt;
}

.help-scene .header IMG
{
	float:left;
	height:32px;
	width:32px;
	margin-right:10px;
}

.help-scene .header H2
{
	line-height:32px;
}

.help-scene .back-icon {
	background:transparent url(../images/back-icon.png) no-repeat 0px 0px;
}

.help-scene .back-icon.selected {
	background:transparent url(../images/back-icon.png) no-repeat 0px 32px;
}

/** Preferences Scene **/

.prefs-scene .palm-row
{
	height:55px;
}

.prefs-scene .label.left
{
	float:left;
	min-width:130px;
	line-height:12pt;
	margin-top:10pt;
	width:auto;
	text-overflow:wrap;
}

.prefs-scene .list .label {
	min-width:60%;
	white-space:normal;
	text-overflow:wrap;
	line-height:12pt;
}

/** Edit Contact Scene **/

.edit-contact-scene .header
{
	clear:both;
}

.edit-contact-scene #edit_contact_photo
{
    -webkit-transform:  rotate(-7deg);
	float:left;
	height:50px;
	width:50px;
	-webkit-border-radius: 10px;
	margin:10px;
}

.edit-contact-scene #edit_contact_name
{
	float:left;
	width:250px;
	line-height:60px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.edit-contact-scene .palm-row .label
{
	width:40%;
	float:left;
}

.edit-contact-scene .contact-details
{
	font-size:12pt;
	text-align:right;
	margin-right:2%;
	float:right;
	width:50%;
	margin-top:15px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
}	

.edit-contact-scene .contact-method-row
{
	font-size:12pt;
	padding:3px 3px 3px 13px;
	height:40px;
	clear:both;
	line-height:32px;
	vertical-align:middle;
}

.edit-contact-scene .contact-method-row .method-details
{
	width:auto;
}

.edit-contact-scene .contact-method-row .label
{
	width:auto;
	margin:auto;
	float:right;
	text-align:right;
}

.edit-contact-scene .edit-contact-drawer
{
	clear:both;
	width:94%;
	padding:3%;
}

.edit-contact-scene .actionButton
{
	float:left;
	display:inline;
	width:33%;
}

/* setting font size to account for internationalization */ 
.edit-contact-scene .actionButton .palm-button-wrapper
{
	font-size:12pt;
}