/*** Default Theme CSS ***/

body.palm-default {
	background-image: url("themes/default/bg.png");
	background-repeat: no-repeat;
	background-color:rgb(237,240,255);
}

.palm-row, .palm-row.first, .palm-row.last
{
	background-color:rgb(237,240,255);
}

/*** End Default Theme CSS ***/

.admob
{
	height:45px;
	font-size:10pt;
	line-height:45px;
	text-align:center;
	display:none;
	background-color:rgba(255,255,255,.5);
	color:#000;
	overflow:hidden;
}

.dragging
{
	opacity:.5;
	z-index:10000;
}

.scroller-padding.bottom
{
	position:absolute;
	left:0px;
	top:0px;
	height:50px;
}

.add_icon
{
	background:url(../images/add-contact.png);
	-webkit-background-size:100% 100%;
}

.list_icon
{
	background:url(../images/list.png);
	-webkit-background-size:100% 100%;
}

.grid_icon
{
	background:url(../images/grid.png);
	-webkit-background-size:100% 100%;
}

.cmdMenu
{
	background: url(../images/command-menu-gradient.png) bottom left repeat-x;
}

#help-scene
{
	background-color:rgba(255,255,255,.85);
	-webkit-border-radius:10px;
	margin:10px;
	padding:10px;
	font-size:10pt;
}

.help-scene .header IMG
{
	float:left;
	height:32px;
	width:32px;
	margin-right:10px;
}

.help-scene .header H2
{
	line-height:32px;
}

.list-scene .palm-row-wrapper
{
	padding:2px;
}

.prefs-scene .palm-row
{
	height:55px;
}

.prefs-scene .label.left
{
	float:left;
	width:130px;
	margin-left:0px;
	padding-left:10px;
}

.prefs-scene .list
{
	float:right;
	width:140px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:right;
}

.palm-row.first
{
	-webkit-border-radius: 15px 15px 0px 0px;
}

.palm-row.last
{
	-webkit-border-radius: 0px 0px 15px 15px ;
}

.edit-contact-scene .header
{
	clear:both;
}

.edit-contact-scene #edit_contact_photo
{
    -webkit-transform:  rotate(-7deg);
	float:left;
	height:50px;
	width:50px;
	-webkit-border-radius: 10px;
	margin:10px;
}

.edit-contact-scene #edit_contact_name
{
	float:left;
	width:250px;
	line-height:60px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.edit-contact-scene .palm-row .label
{
	width:40%;
	float:left;
}

.edit-contact-scene .contact-details
{
	font-size:12pt;
	text-align:right;
	margin-right:2%;
	float:right;
	width:50%;
	margin-top:15px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
}	

.edit-contact-scene .contact-method-row
{
	font-size:12pt;
	padding:3px 3px 3px 13px;
	height:40px;
	clear:both;
	line-height:32px;
	vertical-align:middle;
}

.edit-contact-scene .contact-method-row .method-details
{
	width:auto;
}

.edit-contact-scene .contact-method-row .label
{
	width:auto;
	margin:auto;
	float:right;
	text-align:right;
}

.edit-contact-scene .edit-contact-drawer
{
	clear:both;
	width:94%;
	padding:3%;
}

.edit-contact-scene .actionButton
{
	float:left;
	display:inline;
	width:33%;
}

/* setting font size to account for internationalization */ 
.edit-contact-scene .actionButton .palm-button-wrapper
{
	font-size:12pt;
}