.palm-row-wrapper
{
	padding:2px;
}

.palm-row, .palm-row.first, .palm-row.last
{
	background-color:rgb(237,240,255);
}

.palm-row.first
{
	-webkit-border-radius: 15px 15px 0px 0px;
}

.palm-row.last
{
	-webkit-border-radius: 0px 0px 15px 15px ;
}

.palm-row .img
{
	float:left;
}

.palm-row .img IMG
{
	height:40px;
	width:40px;
	-webkit-border-radius: 10px;
	margin:2px;
}

.palm-row .contactName
{
	color:#f8f8f8;
	line-height:40px;
}