.QuickContact.dragging
{
		z-index:10000;
		opacity:.5;
}

.QuickContact .contactName
{
	color:#ffffff;
}

.QuickContact .wrapper
{
	width:100%;
	height:100%;
}

.QuickContact.selected .icon
{
	visibility:visible;
}

.QuickContact .icon
{
	visibility:hidden;
	position:relative;
	display:inline;
	float:left;
}

.QuickContact .icon.phone
{
	-webkit-background-size:100% 100%;
	background:url(../images/phone.png);
}

.QuickContact .icon.txt
{
	-webkit-background-size:100% 100%;
	background:url(../images/txt.png);
}

.QuickContact .icon.email
{
	-webkit-background-size:100% 100%;
	background:url(../images/email.png);
}

.QuickContact .icon.im
{
	-webkit-background-size:100% 100%;
	background:url(../images/im.png);
}

.QuickContact .icon.inactive
{
	visibility:hidden;
}

.QuickContact.selected .contactName
{
	visibility:hidden;
}

.QuickContact.grid .wrapper
{
	-webkit-border-radius: 10px;
	-webkit-background-size:100% 100%;	
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.QuickContact.grid .contactName
{
	clear:both;
	width:94%;
	font-size:10pt;
	text-align:center;
	background-color:rgba(0,0,0,.3);
	top:-92%;
	margin-left:3%;
	position:relative;
	-webkit-border-radius: 4px;
}

.QuickContact.grid.select .contactName
{
	display:none;
	visibility:hidden;
}

.QuickContact.grid .icon
{
	width:44%;
	height:44%;
	margin:3%;
}

.QuickContact.grid .image
{
	visibility:hidden;
	position:absolute;
	z-index:-10000;
}

.QuickContact.list
{
	height:40px;
	width:100%;
}

.QuickContact.list .wrapper
{
	margin:4px;
}

.QuickContact.list.selected .icon
{
	display:inline;
}

.QuickContact.list .icon
{
	display:none;
	height:40px;
	width:40px;
	margin-left:4px;
}

.QuickContact.list .photo
{
	display:inline;
	float:right;
	height:36px;
	width:36px;
	margin-right:8px;
}

.QuickContact.list .photo IMG
{
	-webkit-border-radius: 4px;
	float:right;
	height:100%;
	width:100%;
}

.QuickContact.list .contactName
{
	font-size:14pt;
	color:#000;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.QuickContact.list .icon
{
	width:36;
	height:36;
}
