<div class="palm-dialog-content">
	<div class="palm-dialog-title" id="dialogLabel">Group Member</div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">    	
			<div class="label">Name</div>
			<div id="group-member-name-field" x-mojo-element="TextField" ></div>
		</div>
	</div>
	<div class="textfield-group" x-mojo-focus-highlight="true" id="group-member-email-field-row">
		<div class="title">    	
			<div class="label">Email</div>
			<div id="group-member-email-field" x-mojo-element="TextField" ></div>
		</div>
	</div>
	<div class="textfield-group" id="group-member-email-list-row">
		<div x-mojo-element="ListSelector" id="group-member-email-list" class="list-selector"></div>
	</div>
	<div class="textfield-group" x-mojo-focus-highlight="true" id="group-member-sms-field-row">
		<div class="title">    	
			<div class="label">SMS Number</div>
			<div id="group-member-sms-field" x-mojo-element="TextField" ></div>
		</div>
	</div>
	<div class="textfield-group" id="group-member-sms-list-row">
		<div x-mojo-element="ListSelector" id="group-member-sms-list" class="list-selector"></div>
	</div>
</div>
<div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="okButton"></div>
  <div x-mojo-element="Button" id="cancelButton"></div>
</div>
