<div class="content-wrapper">
	<div class="header">
		<img src="icon.png">
		<h2>InContact Plus v1.0.1</h2>
	</div>
	<h3>Like InContact Plus?</h3>
	<div><a href="http://developer.palm.com/appredirect/?packageid=com.tiqtech.incontactplus">Write a review</a> and let others know your experience!</div>
	<h3>Questions or Feedback?</h3>
	<ul>
		<li><a href="http://twitter.com/tiqtech">@tiqtech</a> on Twitter</li>
		<li><a href="mailto:incontactplus-support@tiqtech.com?subject=InContact Plus Question/Feedback">InContact Support</a></li>
		<li><a href="http://www.tiqtech.com/InContact">InContact Website</a></li>
	</ul>
	<h3>Release Notes</h3>
	<h4>Version 1.0.1</h4>
	<ul>
		<li>Added in-application help</li>
		<li>Minor performance enhancements</li>
		<li>Fixed issue with About screen always displaying on launch</li>		<li>Fixed issue with removing a page and preserving contacts</li>		<li>Fixed issue with blank contact name when only company name provided</li>
	</ul>
	<h4>Version 1.0.0</h4>
	<div>Initial release featuring everything in InContact plus:</div>
	<ul>
		<li>Unlimited pages</li>		<li>Email/SMS an entire page</li>		<li>Customizable launcher</li>		<li>Customizable actions for each contact</li>		<li>Additional icons for actions</li>
	</ul>
</div>